/* image frames */
.card {
    margin: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 0 6px 10px black, 0 6px 10px grey;
    text-align: left;
    cursor: pointer;
    background: transparent;
  }

  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
  }

  .card > .img-container > img {
    width: 100%;
  }